<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicional</title>
    <!--v2.vuejs.org - get started -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="nome">
        <label>
            <input type="checkbox" v-model="anonimo">
            Anônimo
        </label>
        
        <button v-on:click="entrar">{{ rotulo }}</button>

        <div v-if="logado">
            <p v-if="anonimo">
                Usuário anônimo logado!
            </p>
            <p v-else> {{ nome }}</p>
        </div>
        <div v-else>
            <p>Nenhum usuário logado</p>
        </div>
    </div>
    <script src="js/content1.js"></script>
</body>
</html>