*{
    padding: 0;
    margin: 0;
}

.invisible{
    display: none;
}

.total{
    background-color: #ccc;
    border-radius: 10px;
    margin: 15px;
    font-size: 20px;
    color: red;
    font-weight: 900;
    padding: 10px;
}